$primary-mainColor: #2754ab; // 主色应用于大面积色块
$primary-brightColor: #c3000e; // 亮色应用于点击按钮

$assist-yellow: #e5b25d; // 辅助色-黄色
$assist-red: #c16146; // 辅助色-红色
$assist-teal: #36b4ab; // 辅助色-青色
$assist-beige: #f2d8ae; // 辅助色-米色
$assist-blue: #6887c4; //辅助色-蓝色

$gray-primary: #222222; // 主标题文字
$gray-secondary: #2c2c2c; // 副标题文字
$gray-tertiary: #191919; // 辅助性文字
$gray-quaternary: #4d4d4d; // 非重要性文字
$gray-5: #898989; // 灰度5
$gray-6: #d2d2d2; // 灰度6
$gray-7: #f4f4f4; // 灰度7
$gray-8: #f7f7f7; // 灰度8
